{{!-- {{#each datos}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
{{aviso}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/each}} --}}

<div class="">
<div class="card">
    <div class="card-header">
        <h3 class="text-dark">Agregar follower bot</h3>
    </div>
        <div class="card-body flex">
            <form action="/taskboard" method="POST" class="row">
                <div class="form-group col-md-3">
                    <input type="text" name="username" class="form-control" required placeholder="Username" autofocus>
                </div>
                <div class="form-group col-md-3">
                    <input type="password" name="password" class="form-control" required placeholder="password" autofocus>
                </div>
                <div class="form-group col-md-3">
                    <input type="text" name="accountToFollow" class="form-control" required placeholder="Cuenta a seguir" autofocus>
                </div>
                <div class="from-group col-md-3">
                    <button class="btn btn-primary btn-block" type="submit">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    {{#each datos}}
        <div class="col-12 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="row ">
                        <div class="col-2 col-md-1 d-flex align-items-center justify-content-start">
                            <img class="w-100" src="/img/user.png" alt="">
                        </div>
                        <div class="col-10 col-md-5 d-flex align-items-center justify-content-start">
                            <span class="h2 text-dark">{{username}}</span>
                        </div>
                        <div class="col-12 col-md-3 d-flex align-items-center mt-2 mt-md-0">
                            <span class="h5 text-primary float-right">1192 de 100 seguidores</span>
                        </div>
                        <div class="col-12 col-md-3 mt-3 mt-md-0 d-flex align-items-center justify-content-end">
                            <a class="col-12 btn btn-primary" href="/bot/?name={{username}}">Ver</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
</div>