<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/fonts.css" rel="stylesheet">
    <link rel="stylesheet" href="./../../node_modules/materialize-css/dist/css/materialize.min.css">
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/custom.css">
    <script src="./../../node_modules/angular/angular.min.js"></script>
</head>

<body ng-app="myApp" class="indigo">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content" >
                        <ul id="list" class="collection with-header" >
                            <li class="collection-header"><h4>Tareas</h4></li>
                            <li class="collection-item"><div>Ver videos en YouTube<a href="#!" id="watchVideos" class="secondary-content"><i id="view" class="material-icons">send</i></a></div></li>
                            <li class="collection-item grey-text"><div>Suscribir a cuentas de YouTube<a href="#!" class="secondary-content"><i class="material-icons ">send</i></a></div></li>
                            <li class="collection-item grey-text"><div>Seguir cuentas en Twitter<a href="#!" class="secondary-content"><i class="material-icons ">send</i></a></div></li>
                        </ul>
                        <div id="reboot" style="display:none" class="row">
                            <div class="container">
                                <h4>Ejecutando tarea</h4>
                                <p id="info"></p>
                                <a href="" id="reiniciar" class="btn col s12">reiniciar</a>
                                <div ng-controller="miCtrl">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<!-- <footer>
    <p class="center-align">Recuerde de cerrar todas aplicaciones Google Chrome la primera vez de uso</p>
</footer> -->
<!-- <script src="js/jquery-3.4.1.min.js"></script> -->
<!-- <script src="./js/1.4.5-angular.min.js"></script> -->
<script src="./js/index.js"></script>
<script src="./../../node_modules/materialize-css/dist/js/materialize.min.js"></script>