<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/fonts.css" rel="stylesheet">
    <link rel="stylesheet" href="css/materializecss.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/custom.css">
    <!-- <script src="js/jquery-3.4.1.min.js"></script> -->
    <script src="js/1.0.0.materialize.min.js"></script>
</head>
<header>
    <div class="row m-0 grey darken-4">
        <div class="col s10 pl-4" style="-webkit-app-region: drag">
        <span class="white-text">Maquinita</span>
    </div>
    <div class="col s1 ">
            <a href="#"id="btn-mini"><i class="material-icons right">keyboard_arrow_down</i></a>
    </div>
        <div class="col s1">
            <a href="#" id="btn-close"><i class="material-icons right">close</i></a>
        </div>
    </div>
</header>
<body class="indigo ">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">

                        <ul id="list" class="collection with-header">
                            <li class="collection-header"><h4>Tareas</h4></li>
                            <li class="collection-item"><div>Ver videos en YouTube<a href="#!" id="watchVideos" class="secondary-content"><i id="view" class="material-icons">send</i></a></div></li>
                            <li class="collection-item grey-text"><div>Suscribir a cuentas de YouTube<a href="#!" class="secondary-content"><i class="material-icons ">send</i></a></div></li>
                            <li class="collection-item grey-text"><div>Seguir cuentas en Twitter<a href="#!" class="secondary-content"><i class="material-icons ">send</i></a></div></li>
                        </ul>
                        <div id="reboot" style="display:none" class="row">
                            <div class="container">
                                <h4>Ejecutando tarea...</h4>
                                <a href="" id="reiniciar" class="btn col s12">reiniciar</a>
                            </div>
                        </div>
                        <!-- <table>
                            <tbody>
                                <tr>
                                    <td>lmao</td>
                                    <td><a href="#" class="btn right">enviar</a></td>
                                </tr>
                            </tbody>
                        </table> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<footer>
    <p class="center-align">Recuerde de cerrar todas aplicaciones Google Chrome la primera vez de uso</p>
</footer>
<script src="./js/custom.js"></script>

</html>




