{{!-- srca --}}
<div class="jumbotron mt-4">
    <h1 class="display-4">Follower Bot</h1>
    <hr class="my-4">
    <p class="lead">Automatiza tu cuenta de instagram para seguir cuentas que te interesan que pueden traer mas followers a ut cuenta</p>
    <a class="btn btn-primary btn-lg" href="#">Edwin Chauran</a>
</div>